body {
	font-family: "Times New Roman", Times, serif;
}

h1 {
	text-align: center;
	font-size: 40px;
}

h2 {
	text-align: center;
	font-size: 25px;
}

h3 {
	text-align: center;
	font-size: 18px;
}

hr {
	width: 500px;
}

p {
	text-align: justify;
	font-size: 14px;
}

ul {
	font-size: 14px;
}

td {
	
	font-size: 14px;
	text-align: justify;
}

figure {
    display: inline-block;
    border: 1px dotted gray;
    margin: 20px; /* adjust as needed */
    position: relative;
    float: right;

}
figure img {
    vertical-align: top;
}
figure figcaption {
    border: 1px dotted blue;
    text-align: center;
    font-size: 8px;
}

#mainContainer {
	width: 1024px;
	height: 590px;	
}

#svgContainer {
	width: 505px;
	height: 100%;
	float: left;
	background-color: green;
}

#searchContainer {
	height: 50%;
	width: 505px;
	display: block;
	float: right;
	margin-bottom: 1%;
}

#inspectorContainer {
	height: 48%;
	width: 505px;
	display: block;
	float: right;
	border: 1px solid #ddd;
}

#searchBar {
  	width: 100%;
  	font-size: 12px;
  	margin-bottom: 5px;
  	padding: 6px 0px 6px 0px;
  	border: 1px solid #ddd;
  	clear: left;
}

#searchResultsContainer, #selectedListContainer {
	float: left;
	border: solid #ddd;
	border-width: 1px 1px 1px 1px;
	width: 245px;
	list-style-type: none;
	padding: 0;
	height: 80%;
	overflow-y: scroll;
}

#selectedListContainer {
	float: right;
}

#searchList, #selectedList {
	margin: 0;
	padding: 0;
}

#searchList li, #selectedList li {
  	border: solid #ddd;
  	border-width: 1px 0px 1px 0px;
  	margin-top: -1px; /* Prevent double borders */
  	background-color: #f6f6f6;
  	padding: 6px;
  	text-decoration: none;
  	font-size: 14px;
  	color: black;
  	display: block;
}

#searchList li:hover {
  	background-color: #eee;
  	cursor: pointer;
}

#selectedList li:hover {
	opacity: 0.8;
	background-color: crimson;
	cursor: pointer;
}

input[type="button"] {
	width: 245px;
	margin-top: 5px;
}

input[type="button"]:hover {
	cursor: pointer;
}

#btnSelectAll {
	margin-left: 1px;
}

#btnDeselectAll {
	margin-left: 8px;
}

#tableInspector {
	border: 1px solid #ddd;
}